<h3>Операция </h3>
<table class="dialog_form">
   <tr>
      <th>Заголовок окна </th>
   </tr>
   <tr>
      <td><input type="text" id="new_window_title" /></td>
   </tr>
   <tr>
      <th>
Содержимое окна
      </th>
   </tr>
   <tr>
      <td>
         <textarea id="new_window_content"></textarea>
      </td>
   </tr>
   <tr>
      <th>
         Кнопки окна
      </th>
   </tr>
   <tr>
      <td id="buttonlist">
         <input type="checkbox" id="alertbutton" /><label for="alertbutton">Предупреждение </label>
         <input type="checkbox" id="closebutton" /><label for="closebutton">Закрыть </label>
              </td>
       <button class="button loading-pulse">Download NOW</button>
   </tr>
</table>